<!doctype html>
<html>
<link rel="stylesheet" href="style.css">
  <title>Hello from Flask</title>

  <body>
<h1>My first site!</h1>
<hr>
<table border="1">

  <caption id="1">My first table</caption>
  <thead>
    <tr>
      <td>data
      </td>
      <td>4</td>
    </tr>
  </thead>
  <tbody>
  <tr>
    <th>111111111</th>
    <th>22222222222222</th>
    <th>3333333333</th>
  </tr>
  <tr>
    <td>11</td>
    <td>22</td>
    <td rowspan="2">33</td>
  </tr>
  <tr>
  <th colspan="2">sss</th>
  </tr>
  </tbody>
</table>
<img src="/static/images/ba.png">
<button
<ul>
  134
  <li>11</li>2
  <li>22</li>
  <li>333</li>
</ul>
<aside>
  <ol>
  <li>44</li>
  <li>55</li>

</ol>
</aside>
{% if name %}
<h1> {{ name }}</h1>
{% endif %}
  {% if time %}
    <h1>Hello {{ time }}!</h1>
  {% else %}
    <h2>Hello World!</h2>
  {% endif %}

  </body>
</html>
