<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Hello, world!</h1>
    <h1>My first site!</h1>
<hr>
<table border="1">

  <caption id="1">My first table</caption>
  <thead>
    <tr>
      <td>data
      </td>
      <td>4</td>
    </tr>
  </thead>
  <tbody>
  <tr>
    <th>111111111</th>
    <th>22222222222222</th>
    <th>3333333333</th>
  </tr>
  <tr>
    <td>11</td>
    <td>22</td>
    <td rowspan="2">33</td>
  </tr>
  <tr>
  <th colspan="2">sss</th>
  </tr>
  </tbody>
</table>

<ul>
  134
  <li>11</li>2
  <li>22</li>
  <li>333</li>
</ul>
<aside>
  <ol>
  <li>44</li>
  <li>55</li>

</ol>
</aside>


  {% if time %}
    <h1>Hello {{ time }}!</h1>
  {% else %}
    <h2>Hello World!</h2>
  {% endif %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>